@use '../../../css/mixins.scss' as mixin;
@use '../../../css/variables.scss' as variables;

.container {
    @include mixin.flexCenter;
    height: variables.$screen_height;
    flex-direction: column;
    @include mixin.breakpoint(md){
        flex-direction: row;
    }
    & > div{
        height:fit-content;
        background-color: variables.$white_color;
        @include mixin.breakpoint(md){
            height:100%;
        }
    }
    & > div:first-of-type{
        @include mixin.flexCenter;
        width:100%;
        @include mixin.breakpoint(md){
            width: 50%;
        }
        padding:0 5%;
        position: relative;

        & > .logo{
            position:absolute;
            top:60px;
            left:15%;
        }

        & > .image_wrapper{
            @include mixin.flexCenter;
            display: none;
            @include mixin.breakpoint(md){
                display: flex;
            }
            & > img{
                width:100%;
                height: auto;
                object-fit: contain;
            }
            
        
        }
        
    }
    & > div:nth-of-type(2){
        @include mixin.flexCenter;
        width:100%;
        flex:1;
        @include mixin.breakpoint(md){
            width:50%;
        }
        & > div{
            @include mixin.flexCenter;
            width: max(320px,70%);
            flex-direction: column;
            gap:50px;
            & > div{
                width: 100%;
                & > h1{
                    color:variables.$primary_text_2;
                    font-family: variables.$boldFont;
                    margin:0;
                }
                & > p{
                    margin-block:.6rem;
                    color:variables.$primary_text_1;
                    font-family: variables.$normalFont;
                }
            }
            & > form{
                width: 100%;
                display: flex;
                flex-direction: column;
                & > label{
                    &:nth-of-type(2){margin-top:1rem}
                    flex:1;
                    & input{
                        width: 100%;
                        color:variables.$primary_text_1;
                        border: 2px solid hsl(from variables.$primary_border_1 h s l /.15);
                        padding:.7rem;
                        border-radius: .2rem;
                        &::placeholder{
                            color:hsl(from variables.$primary_border_1 h s l /.5);
                        }
                        &:focus-visible{
                            outline:transparent;
                        }
                    }

                }
                & > div{
                    color:variables.$danger;
                    font-size:.6rem;
                }
                & > a{
                    margin-top:1rem;
                    font-family: variables.$boldFont;
                    color:variables.$primary_text_3;
                    font-size:.7rem;
                }
                & button{
                    cursor: pointer;
                    margin-top:1rem;
                    background-color: variables.$primary-color-2;
                    border:none;
                    color:variables.$white_color;
                    padding:.7rem 0;
                    border-radius: .5rem;
                    font-family: variables.$mediumFont;
                    &:focus-visible{
                        outline: transparent;
                    }
                }

            }
        }
        
    }
}




