//colors
$white_color:#fff;
$black_color:#000;
$danger:red;
$primary_color_1:#213F7D;
$primary_color_2:#39CDCC;
$primary_text_1:#545F7D;
$primary_text_2:#213F7D;
$primary_text_3:#39CDCC;
$primary_border_1:#545F7D;

$width:820px;




//colors

//width and height
$screen_height:100dvh;
$screen_width:100dvw;
//width and height

//fonts
$thinFont:'Avenir Next Thin';
$normalThinFont: 'Avenir Next Normal Thin';
$lightFont: 'Avenir Next Light';
$normalFont:'Avenir Next Normal';
$mediumFont:'Avenir Next Medium';
$boldFont:'Avenir Next Bold';
$extraBoldFont:'Avenir Next Extra Bold';
//fonts
   
