@use '../../../css/variables.scss' as variables;
@use '../../../css/mixins.scss' as mixin;

.container{
    display: grid;
    gap:1rem;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap:2dvw;
    & > div{
        display: flex;
        flex-direction: column;
        gap:.5rem;
        padding:1rem;
        background-color: variables.$white_color;
        border-radius: .1rem;
        color:variables.$primary_text_2;
        box-shadow: 3px 5px 20px 0px #0000000A;
        border: 1px solid #213F7D0F;
        & > span:first-of-type{
            text-transform: uppercase;
            font-size: .6rem;
            font-family: variables.$mediumFont;
        }
        & > span:last-of-type{
            text-transform: uppercase;
            font-size: .8rem;
            font-family: variables.$boldFont;
            margin-top:auto;
        }

    }
}

.tableContainer{
    display: grid;
    & > div:first-of-type{
        background-color: variables.$white_color;
        box-shadow: 3px 5px 20px 0px #0000000A;
        border: 1px solid #213F7D0F;
    }
    

}