@use '../../css/mixins.scss' as mixin;
@use '../../css/variables.scss' as variables;

.container{
    display: flex;
    align-items: center;
    position: relative;
    & > button{
        display: flex;
        align-items: center;
        gap:.4rem;
        background-color: transparent;
        outline: none;
        border:none;
        & > img{
            width: 35px;
            height: 35px;
        }
        & > span{
            height: fit-content;
            font-size: .7rem;
            text-transform: capitalize;
            display:none;
            @include mixin.breakpoint(md){
                display: inline-block;
            }
        }
    }
    & > ul{
        position: absolute;
        right:0;
        top:37px;
        margin:0;
        padding: 0;
        background-color: variables.$white_color;
        box-shadow: 3px 0px 20px 0px #0000000A;
        list-style: none;
        padding: .4rem 0;
        width: 150px;
        display: grid;
        & > li{
            font-size: .7rem;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap:.4rem;
            padding:.3rem .6rem;
            cursor: pointer;
            color:variables.$primary_text_2;
            &:hover{
                background-color: hsl(from variables.$primary_color_2 h s l /.25);
                color:variables.$white_color;
            }
            @include mixin.breakpoint(md){
                &:first-child{
                    display: none;
                }
            }
        }
    }
}