@use './css/variables.scss' as variables;
:root{
  font-size: 20px;
}



*{
  box-sizing: border-box;
  font-family: variables.$normalFont;
  text-decoration: none;
}
.heading{
  font-family: variables.$boldFont;
  color:variables.$primary_text_2;
  margin:0 0 1rem 0;
}

a,button{
  cursor:pointer;
}

body{
  margin:0;
  padding:0;
}